{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <button class="header-button" aria-expanded="false" aria-label="Open Main Navigation">
    <svg id="uuid-9a09dd5f-7fd5-4fe9-b129-107f02148933" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96.49 96.5">
      <g id="uuid-a4182ad6-2bb5-4064-8ef2-02d04a525965">
        <g id="uuid-a24c4daa-e3f3-4f60-92b1-9cc5f9b1b37b">
          <path class="fill" d="M48.23,95.49l-6.59-22.61-17.01,16.28,5.58-22.88-22.87,5.59,16.27-17.02L1.01,48.25l22.6-6.61L7.33,24.63l22.88,5.58-5.59-22.87,17.03,16.27L48.24,1.01l6.61,22.6,17.01-16.28-5.58,22.88,22.87-5.59-16.27,17.03,22.6,6.6-22.6,6.61,16.28,17.01-22.88-5.58,5.59,22.87-17.03-16.27-6.59,22.6h0s-.01,0-.01,0Z" fill="#fff" stroke-width="0"/>
          <path class="stroke" d="M48.25,4.55l5.18,17.76.92,3.16,2.38-2.28,13.36-12.79-4.39,17.97-.78,3.2,3.2-.78,17.97-4.39-12.79,13.36-2.28,2.38,3.16.92,17.76,5.18-17.76,5.18-3.16.92,2.28,2.38,12.79,13.36-17.97-4.39-3.2-.78.78,3.2,4.39,17.97-13.36-12.79-2.38-2.28-.92,3.16-5.18,17.76-5.18-17.76-.92-3.16-2.38,2.28-13.36,12.79,4.39-17.97.78-3.2-3.2.78-17.97,4.39,12.79-13.36,2.28-2.38-3.16-.92-17.76-5.18,17.76-5.18,3.16-.92-2.28-2.38-12.79-13.36,17.97,4.39,3.2.78-.78-3.2-4.39-17.97,13.36,12.79,2.38,2.28.92-3.16,5.18-17.76M48.25,0c-.41,0-.83.24-.97.73l-6.13,21.02-15.82-15.14c-.21-.2-.45-.28-.69-.28-.6,0-1.16.55-.99,1.25l5.2,21.27-21.27-5.2c-.09-.02-.17-.03-.25-.03-.84,0-1.35,1.04-.71,1.71l15.14,15.82L.73,47.28c-.97.28-.97,1.65,0,1.93l21.02,6.13-15.14,15.82c-.63.66-.12,1.71.71,1.71.08,0,.17,0,.25-.03l21.27-5.2-5.2,21.27c-.17.7.39,1.25.99,1.25.24,0,.48-.09.69-.28l15.82-15.14,6.13,21.02c.14.48.55.73.97.73s.83-.24.97-.73l6.13-21.02,15.82,15.14c.21.2.45.28.69.28.6,0,1.16-.55.99-1.25l-5.2-21.27,21.27,5.2c.09.02.17.03.25.03.84,0,1.35-1.04.71-1.71l-15.14-15.82,21.02-6.13c.97-.28.97-1.65,0-1.93l-21.02-6.13,15.14-15.82c.63-.66.12-1.71-.71-1.71-.08,0-.17,0-.25.03l-21.27,5.2,5.2-21.27c.17-.7-.39-1.25-.99-1.25-.24,0-.48.09-.69.28l-15.82,15.14L49.21.73c-.14-.48-.55-.73-.97-.73h0Z" fill="#fff" stroke-width="0"/>
          <line class="icon icon-vertical" x1="46.22" y1="55.54" x2="49.18" y2="40.48" fill="none" stroke="#000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="5"/>
          <line class="icon icon-horizontal" x1="40.18" y1="48.25" x2="55.21" y2="48.25" fill="none" stroke="#000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="5"/>
        </g>
      </g>
    </svg>
  </button>
  <div{{ attributes.addClass("header-container") }}>
    <div class="menus">
      {{ content }}
    </div>
  </div>
{% endif %}
