{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <button class="header-button" aria-expanded="false" aria-label="Open Main Navigation">
    <svg id="uuid-290dc1a5-62d7-4e70-ad50-67c865e565f6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100.49 100.5">
      <g id="uuid-3fee4e8c-cee4-4f7f-82de-7085b184100b">
        <path class="fill" d="M50.23,97.49l-6.59-22.61-17.01,16.28,5.58-22.88-22.87,5.59,16.27-17.03-22.6-6.6,22.6-6.61L9.33,26.63l22.88,5.58-5.59-22.87,17.03,16.27,6.6-22.6,6.61,22.6,17.01-16.28-5.58,22.88,22.87-5.59-16.27,17.02,22.6,6.6-22.6,6.61,16.28,17.01-22.88-5.58,5.59,22.87-17.02-16.27-6.6,22.6h0s-.01,0-.01,0Z" fill="#fff" stroke-width="0"/>
        <path class="stroke" d="M50.25,6.55l5.18,17.76.92,3.16,2.38-2.28,13.36-12.79-4.39,17.97-.78,3.2,3.2-.78,17.97-4.39-12.79,13.36-2.28,2.38,3.16.92,17.76,5.18-17.76,5.18-3.16.92,2.28,2.38,12.79,13.36-17.97-4.39-3.2-.78.78,3.2,4.39,17.97-13.36-12.79-2.38-2.28-.92,3.16-5.18,17.76-5.18-17.76-.92-3.16-2.38,2.28-13.36,12.79,4.39-17.97.78-3.2-3.2.78-17.97,4.39,12.79-13.36,2.28-2.38-3.16-.92-17.76-5.18,17.76-5.18,3.16-.92-2.28-2.38-12.79-13.36,17.97,4.39,3.2.78-.78-3.2-4.39-17.97,13.36,12.79,2.38,2.28.92-3.16,5.18-17.76M50.25,2c-.41,0-.83.24-.97.73l-6.13,21.02-15.82-15.14c-.21-.2-.45-.28-.69-.28-.6,0-1.16.55-.99,1.25l5.2,21.27-21.27-5.2c-.09-.02-.17-.03-.25-.03-.84,0-1.35,1.04-.71,1.71l15.14,15.82-21.02,6.13c-.97.28-.97,1.65,0,1.93l21.02,6.13-15.14,15.82c-.63.66-.12,1.71.71,1.71.08,0,.17-.01.25-.03l21.27-5.2-5.2,21.27c-.17.7.39,1.25.99,1.25.24,0,.48-.09.69-.28l15.82-15.14,6.13,21.02c.14.48.55.73.97.73s.83-.24.97-.73l6.13-21.02,15.82,15.14c.21.2.45.28.69.28.6,0,1.16-.55.99-1.25l-5.2-21.27,21.27,5.2c.09.02.17.03.25.03.84,0,1.35-1.04.71-1.71l-15.14-15.82,21.02-6.13c.97-.28.97-1.65,0-1.93l-21.02-6.13,15.14-15.82c.63-.66.12-1.71-.71-1.71-.08,0-.17,0-.25.03l-21.27,5.2,5.2-21.27c.17-.7-.39-1.25-.99-1.25-.24,0-.48.09-.69.28l-15.82,15.14-6.13-21.02c-.14-.48-.55-.73-.97-.73h0Z" fill="#fff" stroke-width="0"/>
        <path class="stroke-outer" d="M50.25,2c.41,0,.83.24.97.73l6.13,21.02,15.82-15.14c.21-.2.45-.28.69-.28.6,0,1.16.55.99,1.25l-5.2,21.27,21.27-5.2c.09-.02.17-.03.25-.03.84,0,1.35,1.04.71,1.71l-15.14,15.82,21.02,6.13c.97.28.97,1.65,0,1.93l-21.02,6.13,15.14,15.82c.63.66.12,1.71-.71,1.71-.08,0-.17-.01-.25-.03l-21.27-5.2,5.2,21.27c.17.7-.39,1.25-.99,1.25-.24,0-.48-.09-.69-.28l-15.82-15.14-6.13,21.02c-.14.48-.55.73-.97.73s-.83-.24-.97-.73l-6.13-21.02-15.82,15.14c-.21.2-.45.28-.69.28-.6,0-1.16-.55-.99-1.25l5.2-21.27-21.27,5.2c-.09.02-.17.03-.25.03-.84,0-1.35-1.04-.71-1.71l15.14-15.82-21.02-6.13c-.97-.28-.97-1.65,0-1.93l21.02-6.13-15.14-15.82c-.63-.66-.12-1.71.71-1.71.08,0,.17,0,.25.03l21.27,5.2-5.2-21.27c-.17-.7.39-1.25.99-1.25.24,0,.48.09.69.28l15.82,15.14,6.13-21.02c.14-.48.55-.73.97-.73M50.25,0c-1.35,0-2.51.87-2.89,2.17l-5.21,17.86-13.44-12.86c-.57-.54-1.3-.84-2.07-.84-.92,0-1.81.43-2.38,1.16-.57.72-.77,1.66-.55,2.56l4.42,18.07-18.07-4.42c-.24-.06-.49-.09-.73-.09-1.2,0-2.28.72-2.75,1.83-.47,1.11-.24,2.38.6,3.26l12.86,13.44-17.86,5.21C.87,47.74,0,48.9,0,50.25c0,1.35.87,2.51,2.16,2.89l17.86,5.21-12.86,13.44c-.83.87-1.07,2.15-.6,3.26.48,1.11,1.56,1.83,2.75,1.83.24,0,.49-.03.73-.09l18.07-4.42-4.42,18.07c-.22.91-.02,1.84.55,2.56.57.73,1.46,1.16,2.38,1.16.77,0,1.5-.3,2.07-.84l13.44-12.86,5.21,17.86c.38,1.29,1.54,2.17,2.89,2.17s2.51-.87,2.89-2.16l5.21-17.86,13.44,12.86c.57.54,1.3.84,2.07.84.92,0,1.81-.43,2.38-1.16.57-.72.77-1.66.55-2.56l-4.42-18.07,18.07,4.42c.24.06.49.09.73.09,1.2,0,2.28-.72,2.75-1.83.47-1.11.24-2.38-.6-3.26l-12.86-13.44,17.86-5.21c1.3-.38,2.17-1.54,2.17-2.89,0-1.35-.87-2.51-2.17-2.89l-17.86-5.21,12.86-13.44c.83-.87,1.07-2.15.6-3.26-.48-1.11-1.56-1.83-2.75-1.83-.24,0-.49.03-.73.09l-18.07,4.42,4.42-18.07c.22-.91.02-1.84-.55-2.56-.57-.73-1.46-1.16-2.38-1.16-.77,0-1.5.3-2.07.84l-13.44,12.86-5.21-17.86c-.38-1.3-1.54-2.17-2.89-2.17h0Z" fill="#000" stroke-width="0"/>
        <line class="icon icon-vertical" x1="46.22" y1="55.54" x2="49.18" y2="40.48" fill="none" stroke="#000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="5"/>
        <line class="icon icon-horizontal" x1="40.18" y1="48.25" x2="55.21" y2="48.25" fill="none" stroke="#000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="5"/>
      </g>
    </svg>
  </button>
  <div{{ attributes.addClass("header-container") }}>
    <div class="menus">
      {{ content }}
    </div>
  </div>
{% endif %}
