{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <button class="header-button" aria-expanded="false" aria-label="Open Main Navigation">
    <svg id="uuid-fe6284ea-fa23-468a-bfca-424245e02ee8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96.5 96.49">
      <g id="uuid-7d47482f-38cd-45a2-bb1a-36ccb6bbaa64">
        <path class="fill" d="M48.23,95.49l-6.59-22.61-17.01,16.28,5.58-22.88-22.87,5.59,16.27-17.03L1.01,48.25l22.6-6.61L7.33,24.63l22.88,5.58-5.59-22.87,17.03,16.27L48.24,1.01l6.61,22.6,17.01-16.28-5.58,22.88,22.87-5.59-16.27,17.02,22.6,6.6-22.6,6.61,16.28,17.01-22.88-5.58,5.59,22.87-17.02-16.27-6.6,22.6h0s-.01,0-.01,0Z" fill="#fff" stroke-width="0"/>
        <path class="stroke" d="M48.25,4.55l5.18,17.76.92,3.16,2.38-2.28,13.36-12.79-4.39,17.97-.78,3.2,3.2-.78,17.97-4.39-12.79,13.36-2.28,2.38,3.16.92,17.76,5.18-17.76,5.18-3.16.92,2.28,2.38,12.79,13.36-17.97-4.39-3.2-.78.78,3.2,4.39,17.97-13.36-12.79-2.38-2.28-.92,3.16-5.18,17.76-5.18-17.76-.92-3.16-2.38,2.28-13.36,12.79,4.39-17.97.78-3.2-3.2.78-17.97,4.39,12.79-13.36,2.28-2.38-3.16-.92-17.76-5.18,17.76-5.18,3.16-.92-2.28-2.38-12.79-13.36,17.97,4.39,3.2.78-.78-3.2-4.39-17.97,13.36,12.79,2.38,2.28.92-3.16,5.18-17.76M48.25,0c-.41,0-.83.24-.97.73l-6.13,21.02-15.82-15.14c-.21-.2-.45-.28-.69-.28-.6,0-1.16.55-.99,1.25l5.2,21.27-21.27-5.2c-.09-.02-.17-.03-.25-.03-.84,0-1.35,1.04-.71,1.71l15.14,15.82L.73,47.28c-.97.28-.97,1.65,0,1.93l21.02,6.13-15.14,15.82c-.63.66-.12,1.71.71,1.71.08,0,.17-.01.25-.03l21.27-5.2-5.2,21.27c-.17.7.39,1.25.99,1.25.24,0,.48-.09.69-.28l15.82-15.14,6.13,21.02c.14.48.55.73.97.73s.83-.24.97-.73l6.13-21.02,15.82,15.14c.21.2.45.28.69.28.6,0,1.16-.55.99-1.25l-5.2-21.27,21.27,5.2c.09.02.17.03.25.03.84,0,1.35-1.04.71-1.71l-15.14-15.82,21.02-6.13c.97-.28.97-1.65,0-1.93l-21.02-6.13,15.14-15.82c.63-.66.12-1.71-.71-1.71-.08,0-.17,0-.25.03l-21.27,5.2,5.2-21.27c.17-.7-.39-1.25-.99-1.25-.24,0-.48.09-.69.28l-15.82,15.14L49.21.73c-.14-.48-.55-.73-.97-.73h0Z" fill="#fff" stroke-width="0"/>
        <path class="icon" d="M50.6,45.56h5.52c1.25,0,1.92,1.1,1.68,2.45-.24,1.3-1.39,2.45-2.59,2.45h-5.47l-1.01,5.52c-.24,1.25-1.49,2.16-2.83,2.16s-2.3-.96-2.06-2.16l1.01-5.52h-5.52c-1.2,0-1.97-1.15-1.73-2.45.24-1.34,1.39-2.45,2.64-2.45h5.47l.96-5.47c.19-1.2,1.54-2.16,2.83-2.16s2.3.91,2.06,2.16l-.96,5.47Z" fill="#000" stroke-width="0"/>
      </g>
    </svg>
  </button>
  <div{{ attributes.addClass("header-container") }}>
    <div class="menus">
      {{ content }}
    </div>
  </div>
{% endif %}
