
@import 'modules/reset';
@import 'modules/vars';
@import 'modules/header';
@import 'modules/front-page';
@import 'modules/contact';
@import 'modules/project-block';
@import 'modules/project-page';

header .header,
.highlighted,
main .main-content,
#block-taylorwills-webform,
.footer  {
	margin: 0 auto;
	max-width: 75rem;
	padding: 0 1.5rem;
}

body {
	background-color: $darkest-green;
}

.divider {
	padding: $md-space 0;

	svg {
		display: block;
		height: 10rem;
		margin: 0 auto;
		width: 10rem;

		@media screen and (min-width: $medium) {
			height: 16.875rem;
			width: 16.875rem;
		}
	}
}
