header {
  position: absolute;
  top: $sm-space;
  right: $sm-space;
  background-image: url('../images/menu.svg');
  background-repeat: no-repeat;
  height: 6rem;
  width: 6rem;

  .header {
    display: none;

    ul {
      display: flex;
      align-items: center;

      li {
        padding: 1rem .5rem;

        a {
          color: $light-green;
        }
      }
    }
  }
}