
@import 'modules/reset';
@import 'modules/vars';
@import 'modules/header';

header .header,
.highlighted,
main .layout-content,
.footer  {
	padding: 1.5rem;
	max-width: 75rem;
}

body {
	background-color: $darkest-green;
	color: $light-green;
}
