
@import 'modules/reset';
@import 'modules/vars';
@import 'modules/header';
@import 'modules/front-page';

header .header,
.highlighted,
main .layout-content,
.footer  {
	margin: 0 auto;
	max-width: 75rem;
	padding: 1.5rem;
}

body {
	background-color: $darkest-green;
	color: $light-green;
}

.divider {
	padding: $md-space 0;

	svg {
		display: block;
		height: 16.875rem;
		margin: 0 auto;
		width: 16.875rem;
	}
}
