.webform-submission-form {
  display: flex;
  flex-wrap: wrap;

  > .form-item {
    width: fit-content;
    margin-bottom: 1rem;

    &:nth-child(odd) {
      margin-right: 1rem;
    }

    &.js-form-type-textarea {
      width: 100%;
    }

    label {
      display: block;
    }

    input,
    textarea {
      appearance: unset;
      background-color: unset;
      border: 0;
      border-bottom: 2px solid $light-green;
      color: $light-green;
      padding: .5rem 0;
      width: 100%;
    }
  }

  .form-actions {
    position: relative;

    &::before {
      content: '';
      clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      transform: translate(4px, 4px);
      transition: all .5s ease;
      z-index: -1;
    }

    &:hover {
      cursor: pointer;

      input {
        cursor: pointer;
      }

      &::before {
        background-color: $green;
        opacity: 1;
      }
    }

    input {
      background-color: $light-green;
      border: 0;
      clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
      color: $darkest-green;
      line-height: 1;
      padding: .5rem 1.5rem;
    }
  }
}