footer {
  text-align: center;
  padding-top: $lg-space;
  padding-bottom: $sm-space;

  @media screen and (min-width: $medium) {
    padding-top: $xl-space;
    padding-bottom: $md-space;
  }

  nav {
    margin: $xs-space 0;

    @media screen and (min-width: $medium) {
      margin: $sm-space 0;      
    }
  }

  svg {
    max-width: $lg-space;
  }

  #block-taylorwills-socialmenu-2 {
    ul {
      justify-content: center;

      li {
        &:hover {
          background-color: $secondary;

          a {
        
            &[href*=codepen] {
              background-image: url('../images/codepen-header.svg');
            }
    
            &[href*=drupal] {
              background-image: url('../images/drupal-header.svg');
            }
    
            &[href*=github] {
              background-image: url('../images/github-header.svg');
            }
    
            &[href*=glitch] {
              background-image: url('../images/glitch-header.svg');
            }
    
            &[href*=linkedin] {
              background-image: url('../images/linkedin-header.svg');
            }
          }
        }

        a {
        
          &[href*=codepen] {
            background-image: url('../images/codepen.svg');
          }
  
          &[href*=drupal] {
            background-image: url('../images/drupal.svg');
          }
  
          &[href*=github] {
            background-image: url('../images/github.svg');
          }
  
          &[href*=glitch] {
            background-image: url('../images/glitch.svg');
          }
  
          &[href*=linkedin] {
            background-image: url('../images/linkedin.svg');
          }
        }
      }
    }
  }
}