footer {
  text-align: center;
  padding-top: $md-space;
  padding-bottom: $sm-space;

  @media screen and (min-width: $medium) {
    padding-top: $lg-space;
    padding-bottom: $md-space;
  }

  nav {
    margin: $xs-space 0;

    @media screen and (min-width: $medium) {
      margin: $sm-space 0;      
    }
  }

  svg {
    max-width: $lg-space;
  }

  #block-taylorwills-socialmenu-2 ul {
    justify-content: center;

    li {
      background-color: $primary;
      border-color: $secondary; 

      a[href*=codepen] {
        background-image: url('../images/codepen-light.svg');
      }

      a[href*=drupal] {
        background-image: url('../images/drupal-light.svg');
      }

      a[href*=github] {
        background-image: url('../images/github-light.svg');
      }

      a[href*=glitch] {
        background-image: url('../images/glitch-light.svg');
      }

      a[href*=linkedin] {
        background-image: url('../images/linkedin-light.svg');
      }
    }
  }
}