.path-frontpage {
  h1 {
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-position-y: $xl-space;
    color: transparent;
    width: 100%;
    max-width: 25.375rem;
    margin: 0 auto;
  }
}