header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;

  .header-button {
    appearance: none;
    background: unset;
    border: 0;
    padding: 0;
    position: absolute;
    top: $sm-space;
    right: $sm-space;
    height: 6rem;
    width: 6rem;
    z-index: 10;

    &:not(.open) {
      filter: drop-shadow(0 0 $primary);
    }

    &.open svg {
      .fill {
        fill: #000;
      }

      .stroke {
        fill: #fff;
        transition: all .5s ease;
      }

      .icon-horizontal {
        stroke: #fff;
      }

      .icon-vertical {
        stroke: #000;
      }

      &:hover {
        .fill {
          fill: #fff;
        }
  
        .icon-horizontal {
          stroke: #000;
        }

        .icon-vertical {
          stroke: #fff;
        }
      }
    }

    svg:hover {
      .fill {
        fill: #000;
        transition: all .5s ease;
      }

      .icon {
        stroke: #fff;
        transition: all .5s ease;
      }
    }
  }
  
  .header-container {
    align-items: center;
    background-color: $secondary;
    border: 5px solid $tertiary;
    display: flex;
    position: absolute;
    top: 0;
    opacity: 0;
    left: 100%;
    right: 0;
    transition: all .5s ease;
    visibility: hidden;

    &.open {
      opacity: 1;
      visibility: visible;
      right: 0;
      left: 0;
    }

    .menus {
      padding: 2.97rem 1.5rem;
      max-width: 75rem;

      @media screen and (min-width: $medium) {
        margin: 0 auto;
        width: 100%;
      }
    }
  
    #block-taylorwills-main-menu ul {
      align-items: center;    
      display: flex;
      gap: 1rem;
      padding: .5rem 0;
  
      li {
        a {
          color: $primary;
          border: 3px solid $primary;
          padding: .5rem 1rem;
          transition: all .5s ease;
          font-size: 18px;

          &.is-active {
            background-color: $tertiary;
          }
  
          &:hover {
            background-color: $primary;
            color: $secondary;
            cursor: pointer;
          }
        }
      }
    }
  }
}