header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;

  .header-button {
    appearance: none;
    background: unset;
    border: 0;
    padding: 0;
    position: absolute;
    top: $sm-space;
    right: $sm-space;
    height: 6rem;
    width: 6rem;
    transition: all .5s ease;
    z-index: 10;

    &.open svg {
      .fill {
        fill: #fff;
      }

      .stroke {
        fill: #fff;
      }

      .icon {
        fill: #000;
      }

      &:hover {
        .fill {
          fill: #000;
        }
  
        .icon {
          fill: #fff;
        }
      }
    }

    svg:hover {
      .fill {
        fill: #000;
      }

      .icon {
        fill: #fff;
      }
    }
  }
  
  .header-container {
    align-items: center;
    background-color: $primary;
    border: 5px solid $secondary;
    display: flex;
    position: absolute;
    top: 0;
    opacity: 0;
    left: 100%;
    right: 0;
    transition: all .5s ease;
    visibility: hidden;

    &.open {
      opacity: 1;
      visibility: visible;
      right: 0;
      left: 0;
    }

    .menus {
      padding: 1.375rem 1.5rem;
      max-width: 75rem;

      @media screen and (min-width: $medium) {
        margin: 0 auto;
        width: 100%;
      }
    }
  
    #block-taylorwills-main-menu ul {
      align-items: center;    
      display: flex;
  
      li {
        border-bottom: 2px solid transparent;
        padding: 1rem .5rem;
        transition: all .5s ease;

        &:hover {
          border-bottom-color: $primary;
          cursor: pointer;

          a {
            color: $primary;
          }
        }

        a {
          color: $primary;
          transition: all .5s ease;
          font-size: 18px;
        }
      }
    }

    #block-taylorwills-socialmenu ul {
      gap: 0 0.5rem;
      
      @media screen and (max-width: 500px) {
        flex-wrap: wrap;
        width: 200px;        
      }

      li {
        &:hover {
          background-color: $primary;

          a {
        
            &[href*=codepen] {
              background-image: url('../images/codepen.svg');
            }
    
            &[href*=drupal] {
              background-image: url('../images/drupal.svg');
            }
    
            &[href*=github] {
              background-image: url('../images/github.svg');
            }
    
            &[href*=glitch] {
              background-image: url('../images/glitch.svg');
            }
    
            &[href*=linkedin] {
              background-image: url('../images/linkedin.svg');
            }
          }
        }

        a {
        
          &[href*=codepen] {
            background-image: url('../images/codepen-header.svg');
          }
  
          &[href*=drupal] {
            background-image: url('../images/drupal-header.svg');
          }
  
          &[href*=github] {
            background-image: url('../images/github-header.svg');
          }
  
          &[href*=glitch] {
            background-image: url('../images/glitch-header.svg');
          }
  
          &[href*=linkedin] {
            background-image: url('../images/linkedin-header.svg');
          }
        }
      }
    }
  }
}