.page-node-type-project {
  .field_the_details {
    position: relative;
    background-color: $secondary;
    padding-top: $sm-md-space;
    padding-bottom: $sm-md-space;
    margin-bottom: $sm-md-space;
  
    @media screen and (min-width: $large) {
      padding-top: $md-space;
      padding-bottom: $md-space;
      margin-bottom: $md-space;
    }

    h2, 
    p {
      color: $primary;
    }

    h2 {
      position: relative;

      &::before {
        display: inline-block;
        content: '!';
        color: $primary;
        font-family: $base-font-family;
        font-weight: 700;    
  
        @media screen and (min-width: $xlarge) {
          position: absolute;
          top: 0;
          left: -6.625rem;
          line-height: 1;
          font-size: 10rem;
        }
      }
    }

    p {
      @media screen and (min-width: $large) {
        max-width: 50%;
      }
    }
  }

  .content-block {
    @media screen and (min-width: $large) {
      display: flex;
      gap: 1.5rem;
      justify-content: space-between;
    }
  }

  .field_project_image {
    border: 2px solid $secondary;
    overflow: hidden;
    width: 100%;

    @media screen and (max-width: $large) {
      margin-bottom: 1rem;
    }

    @media screen and (min-width: $medium) {
      width: 50%;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .field_platform,
  .field_hosted_on {
    margin-bottom: .5rem;
  }

  .field_technologies_and_languages,
  .field_platform,
  .field_hosted_on {
    display: block;
    font-size: 1.25rem;
  }

  .field_project_link {
    margin-top: 2rem;

    a {
      background-color: $secondary;
      color: $primary;
      display: block;
      font-size: 1.125rem;
      padding: .5rem 1rem; 
      transition: all .5s ease;
      width: fit-content;
      
      &:hover {
        filter: drop-shadow(-7px 7px $primary);
      }
    }
  }
}