.path-my-projects {
  h1 {
    margin: 0 auto;
    max-width: 75rem;
    padding: $xl-space 1.5rem;
  }

  .views-exposed-form {
    select {
      font-family: $base-font-family;
      background: $primary;
      color: $secondary;
      border: 2px solid $secondary;
      margin-left: .5rem;
    }
  }
}