.page-node-type-project {
  p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .field_platform {
    margin-bottom: .5rem;
  }

  .field_technologies_and_languages,
  .field_platform {
    display: block;
    font-size: 1.25rem;
  }

  .field_project_link {
    margin-top: 2rem;

    a {
      background-color: $light-green;
      color: $darkest-green;
      display: block;
      font-size: 1.125rem;
      padding: .5rem 1rem; 
      transition: all .5s ease;
      width: fit-content;
      
      &:hover {
        filter: drop-shadow(-7px 7px $green);
      }
    }
  } 

  .field_project_image {
    border: 2px solid $light-green;
    border-radius: 280px;
    overflow: hidden;
    margin: 3.75rem auto 0 auto;
    width: 75%;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}