#block-taylorwills-socialmenu,
#block-taylorwills-socialmenu-2 {
  ul {
    display: flex;
    gap: 0 .5rem;

    li {
      border: 3px solid $primary;
      padding: .5rem;
      transition: all .5s ease;

      &:hover {
        border-color: $tertiary;

        a {
          transform: scale(1.5);
        }
      }
    }
    
    a {
      background-repeat: no-repeat;
      background-position: center;
      color: transparent;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      transition: all .5s ease;
    
      &[href*=codepen] {
        background-image: url('../images/codepen.svg');
      }

      &[href*=drupal] {
        background-image: url('../images/drupal.svg');
      }

      &[href*=github] {
        background-image: url('../images/github.svg');
      }

      &[href*=glitch] {
        background-image: url('../images/glitch.svg');
      }

      &[href*=linkedin] {
        background-image: url('../images/linkedin.svg');
      }
    }
  }
}
