#block-taylorwills-socialmenu,
#block-taylorwills-socialmenu-2 {
  li {
    border-radius: 50%;
    padding: 1rem;
    transition: all .5s ease;
  }
  
  a {
    background-image: url('../images/codepen.svg');
    background-repeat: no-repeat;
    color: transparent;
    display: block;
    width: 2rem;
    height: 2rem;
    transition: all .5s ease;
  }
}