@import url("https://use.typekit.net/vfq4yul.css");

$darkest-green: #1b231a;
$dark-green: #32423d;
$green: #7a8279;
$light-green: #f3f9f2;

$small: 768px;
$medium: 992px;
$large: 1200px;
$xlarge: 1600px;

$xs-space: 16px;
$sm-space: 32px;
$sm-md-space: 48px;
$md-space: 60px;
$lg-space: 100px;
$xl-space: 200px;

$headings-font-family: "playfair-display", serif;
$base-font-family: "futura-pt", sans-serif;

body, 
p, 
span, 
a, 
ul, 
ol, 
li, 
blockquote, 
form, 
fieldset, 
textarea, 
input,
label,
table, 
caption, 
tbody, 
tfoot, 
thead, 
tr, 
th, 
td {
  font-family: $base-font-family;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  color: $light-green;
  text-decoration: none;
}

h1,
h2 {
  color: $light-green;
  font-family: $headings-font-family;
  font-weight: 900;
  font-style: italic;
}

h1 {
  font-size: 3rem;
  margin: $xl-space auto;
  text-align: center;
  line-height: 1.3;

  @media screen and (min-width: $medium) {
    font-size: 4.5rem;
  }
}

h2 {
  display: flex;
  font-size: 2rem;
  line-height: 1.5rem;
  white-space: nowrap;
  margin-bottom: $sm-space;

  @media screen and (min-width: $medium) {
    margin-bottom: $md-space;
    font-size: 3rem;

    &::after {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      border-bottom: 2px solid $light-green;
      margin-top: 58px;
      margin-left: 2rem;
    }

    &.right-align {
      text-align: right;
      
      &::before {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        border-bottom: 2px solid $light-green;
        margin-top: 58px;
        margin-right: 2rem;
      }

      &::after {
        content: none;
      }
    }
  }
}

h3 {
  font-size: 1.5rem;
  margin-bottom: $xs-space;
  
  @media screen and (min-width: $medium) {
    font-size: 2rem;
    margin-bottom: $sm-space;
  }
}